<html xmlns:th="https://www.thymeleaf.org">
<body>
    <p>Patients:</p>

    <table border="1">
        <tr>
            <td>Pid</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Age</td>
            <td>Disease</td>
            <td>Doctor Type</td>
            <td>City</td>
        </tr>

        <tr th:each="patient : ${patientsList}">
            <td th:text="${patient.pid}"></td>
            <td th:text="${patient.name}"></td>
            <td th:text="${patient.surname}"></td>
            <td th:text="${patient.age}"></td>
            <td th:text="${patient.disease}"></td>
            <td th:text="${patient.doctorType}"></td>
            <td th:text="${patient.city}"></td>
        </tr>
    </table>
</body>
</html>
